@font-face{
    font-family:'jf-openhuninn';
    src: url("../font/jf-openhuninn-2.1.eot"),
        url('../font/jf-openhuninn-2.1.ttf'),
        url('../font/jf-openhuninn-2.1.woff');
}

@font-face{
    font-family: 'DFHeiUBold-B5';
    src: url('../font/DFHeiUBold-B5.ttc');
}

*{
    box-sizing: border-box;
    -webkit-text-stroke: 0;
    font-weight: normal;
}

body{
    background-color: #F0E7D9;
    background-image: url('../image/old-2012064_1920.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.secondtitle{
    display: flex;
    justify-content: center;
}

article h1 {
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-size: 162px;
    letter-spacing: 5%;
    -webkit-text-stroke: 5px #20160F;
    color: transparent;
    margin: 0px;
}

.report_box{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/*citizen*/
.citizen {
    display: flex;
    flex-direction: column;
    border: 8px solid #20160F;
    border-radius: 3px;
    width: 1232px;
    height: 402px;
    align-items: center; 

    background-image: url('../image/citizen_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 95px;
    margin-bottom: 53px;
}

/*criminal_report*/
.criminal_report {
    display: flex;
    flex-direction: column;
    border: 8px solid #20160F;
    border-radius: 3px;
    width: 1232px;
    height: 402px;
    align-items: center; 

    background-image: url('../image/criminal_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 95px;
 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: auto;
    /* 新增 margin-left 使整個表單向右移動 */
    margin-left: 100px; /* 這個值可以根據需要調整 */
}

.form-row {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    /* 讓 label 和 input 位置固定 */
    position: relative;
}

 .form label {
    text-align: right;
    margin-right: 25px;
    font-size: 32px;
    width: 128px;
    font-family: "Abhaya Libre", serif;
    font-weight: 1000;
    /* 調整 label 位置，使其在紅線左側 */
    position: absolute;
    right: 100%; /*將 label 放置在 input 左側 */
}


.form input {
    flex: 1;
    height: 50px;
    padding: 8px;
    background-color: transparent;
    border: 5px solid #20160F;
    color: #20160F;
    font-size: 32px;
    font-family: "Abhaya Libre", serif;
    font-weight: 1000;
    /* input 寬度固定 */
    width: 100%;
}

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 53px;
    font-family: "Beau Rivage", cursive;
    font-size: 128px;
    color: #564025;
    
}


.thanks p {
    margin: 0px; 
    padding-top: 20px; 
    padding-bottom: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #20160F; 
    color: white; /* 白色文字 */
    font-family: "Abhaya Libre", serif; 
    font-size: 48px; 
    font-weight: bold; 

    margin-left: auto;
    margin-right: auto;


    padding: 15px 250px;
    border-radius: 8px; /* 圓角 */
    cursor: pointer; /* 滑鼠移過時顯示手型 */
    text-align: center; /* 文字置中 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* 添加陰影 */
}


.backgroundImaga{
    max-width: fit-content;
    max-height: fit-content;
    background-image: url('../image/old-2012064_1920.jpg');
}

.websize{
    display: flex;
    flex-direction: column;
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;
}

.decoration{
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    width: 541px;
    border-top: 8px solid #20160F;
    border-radius: 3px;
}

.circle{
    margin: 0px 67px;
    background-color: #20160F;
    border-radius: 50%;
    min-width: 16px;
    min-height: 16px;
}

.title{
    display: flex;
    height: 171px;
    justify-content: center;
    align-items: center;
}

.title img{
    width: 120px;
    height: 120px;
}

.title h1{
    margin: 0px;
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-size: 160px;
    letter-spacing: 16px;
    color: #20160F;
}

header nav{
    display: flex;
    background-color: #20160F;
    height: 53px;
    justify-content: space-between;
    border-radius: 3px;
}




 /* FOOT */
.list{
    display: flex;
    justify-content: space-between;
}

.section{
    display: flex;
    width: 154px;
    margin: 0px 19px;
    justify-content: center;
    padding-top: 18px;
}

.section a{
    text-decoration: none;
}

.section p{
    margin: 0px;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 20px;
    color: white;
}

.time{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-left: 23px;
    margin-top: 12px;
    width: 158px;
    height: 28px;
}

.time div{
    width: 3px;
    border-left: 3px solid white;
}

.time p{
    margin: 0px;
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

article{
    height: 1497px;
    margin: 53px auto;
    margin-top: 0px;
    max-width: 1232px;

}

footer{
    height: 305px;
    background-color: #20160F;
}

.footerArea{
    max-width: 1232px;
    height: 305px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



h2{
    margin: 0px;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
}

.contactInfo p{
    font-family:'jf-openhuninn';
    line-height: 150%;
    color: white;
}

.contactInfo div{
    margin-top: 5px;
    margin-bottom: 11px;
    border-top: 3px solid white;
    width: 400px;
    height: 3px;
}